<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ass/PAssList.css">
    <title>Document</title>
</head>
<body>
<!--<header>-->
<!--    <div class="body_con" th:replace="~{layout/PContent :: headerC}"></div>-->
<!--</header>-->
<div class="stu-list">
    <p class="tit_">과제 학생 전체 목록</p>
    <table>
        <th>학번</th>
        <th>이름</th>
        <th>제출 여부</th>
        <th>제출일</th>
        <th>평가일</th>
        <th>체점여부</th>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
</div>
</body>
</html>