<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ass/PAssList.css">
    <title>Document</title>
</head>
<body>
<header>
    <div class="body_con" th:replace="~{layout/PContent :: headerC}"></div>
</header>
<div class="stu-list">
    <p style="display:none" th:text="${lecCode}">
    <p class="tit_">과제 학생 전체 목록</p>
    <table>
        <th>학번</th>
        <th>이름</th>
        <th>제출 여부</th>
        <th>제출일</th>
        <th>평가일</th>
        <th>체점여부</th>
        <tr th:each="getList : ${getsubList}">
            <td th:text="${getList.stu_num}"></td>
            <td>
                <a th:if="${getList.sub_num != null}" th:href="@{/pro/read/sub/{lecCode}/{subNum} (lecCode=${lecCode}, subNum=${getList.sub_num})}" th:text="${getList.stu_name}"></a>
                <span th:if="${getList.sub_num == null}" th:text="${getList.stu_name}"></span>
            </td>
            <td th:text="${getList.ass_check}"></td>
            <td th:text="${getList.sub_date}"></td>
            <td th:text="${getList.app_date}"></td>
            <td th:text="${getList.task_score + ' / ' + Pnum}"></td>
            <td style="display:none;" th:text="${getList.sub_num}"></td>
        </tr>

    </table>
</div>
</body>
</html>