<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/StdList.css">
    <title>Document</title>
</head>
<body>
<div class="Singup-content">
    <div class="title-box">
        <p>수강생 현황</p>
        <p>총 n명</p>
    </div>
    <div class="list-box borders">
        <p>이름</p>
        <p>강의명</p>
        <p>역활</p>
    </div>
    <div class="list-box ss">
        <p>1</p>
        <p>2</p>
        <p>3</p>
    </div>
</div>
</body>
</html>