<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/StdList.css">
    <title>Document</title>
</head>
<body>
<header>
    <div class="body_con" th:replace="~{layout/PContent :: headerC}"></div>
</header>
<div class="Singup-content">
    <div class="title-box">
        <p>수강생 현황</p>
        <p>총 n명</p>
    </div>
    <div class="list-box borders">
        <p>이름</p>
        <p>강의명</p>
        <p>역활</p>
    </div>
    <div class="list-box ss" th:each="getList : ${List}">
        <p th:text="${getList.stu_name}">1</p>
        <p  th:text="${getList.lec_name}">2</p>
        <p>학생</p>
    </div>
</div>
</body>
</html>