<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/professor/PlectureDInfo.css">
    <title>Document</title>
</head>
<body>
<header>
    <div class="body_con" th:replace="~{layout/PContent :: headerC}"></div>
</header>
<p style="display:none;" th:text="${lecCode}"></p>
<form method="post"  th:action="@{'/pro/insert/detail/' + ${lecCode}}" enctype="multipart/form-data">
<div class="container_box">
    <div class="stbox">
        <p>◉ </p>
        <p class="st">소 강의 등록하기</p>
    </div>
    <div class="title_box">
        <div class="box1">
            <p>강의 소제목</p>
            <input type="text" name="LecTitle" id="LecTitle" placeholder="소제목을 입력해주세요">
        </div>
        <div class="box1">
            <p>강의 주차</p>
            <input type="text" name="LecWeek" id="LecWeek" placeholder="강의 주차를 입력해주세요">
        </div>
    </div>
    <div class="line"></div>
    <div class="contents_box">
        <div class="insert_video">
            <p>강의 영상 등록</p>
            <input type="file" name="LecVideo">영상 등록</input>
<!--            <iframe src="" frameborder="0"></iframe>-->
        </div>
    </div>
    <div class="line"></div>
    <div class="title_box">
        <div class="box1">
            <p>출석 시작일</p>
            <input type="date" name="LecStart" id="LecStart">
        </div>
        <div class="box1">
            <p>출석 마감일</p>
            <input type="date" name="LecClose" id="LecClose">
        </div>
    </div>
    <div class="line"></div>
    <div class="btn_box">
        <button type="submit" class="b_insert">등록하기</button>

    </div>
</div>
</form>
</body>
</html>