<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/professor/PlectureD.css">
    <title>Document</title>
</head>
<body>
<header>
    <div class="body_con" th:replace="~{layout/PContent :: headerC}"></div>
</header>
<div class="content_box">
    <div class="title_box">
        <p>온라인 강의</p>
        <p style="display:none;" th:text="${lecCode}"></p>
        <a th:href="@{/pro/Detail/page/{lecCode}(lecCode=${lecCode})}">강의 등록</a>


    </div>
    <div class="line"></div>
    <!-- 강의 헤더 제목 데이터 받는곳 -->
    <p class="l_h_t">강의 제목</p>
    <div class="lecture_list_box">
        <p class="l l2">주차</p>
        <p class="l l4">강의 주제</p>
        <p class="l">출석 여부</p>
        <p class="l">마감일</p>
        <p class="l">과제</p>
    </div>
<!--    th:onclick="'javascript:location.href=&quot;/pro/video/' + ${Llist.lec_week} + '&quot;'"-->
    <div class="lecture_list_box2" th:each="Llist : ${LList}" >
        <p class="l l2 l3 lecWeek" th:text="${Llist.lec_week}"></p>
        <p class="l l3 l4 lecTitle" th:text="${Llist.lec_title}"></p>
<!--        th:text="${Llist.lec_check}"-->
        <div class="l l3" ><p th:text="${Llist.lec_count}"></p>/<p th:text="${stuCount}"></p></div>
        <p class="l l3" th:text="${Llist.lec_close}"></p>
        <p class="lecCode" style="display:none;" th:text="${Llist.lec_code}"></p>
        <p class="delecCode" style="display:none;" th:text="${Llist.delec_code}"></p>
        <p class="l l3" th:text="${Llist.lec_task}" th:onclick="'javascript:location.href=&quot;/pro/create/ass/' + ${Llist.lec_code}+ '/' + ${Llist.delec_code} + '&quot;'" ></p>
    </div>
</div>
</body>
<script>
    let lecTitle = document.querySelector('.lecTitle');

    lecTitle.onclick = () => {
        let lecCode = document.querySelector('.lecCode').textContent;
        let lecWeek = document.querySelector('.lecWeek').textContent;
        let url = "/pro/video/" + lecCode +"/"+  lecWeek;

        window.open(url, '_blank', 'width=1000,height=600');
    }
</script>

</html>