<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerC">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/layout/style.css" />
    <link rel="stylesheet" href="/static/css/layout/Pheader.css" />
    <link rel="stylesheet" href="/static/css/layout/SContent.css" />
    <title>Document</title>
<body>
<div class="header_box">
    <div class="header_title_box">
        <img src="/static/images/YALELogo.png" />
        <a
         href="#" class="s_title"
        >예일대학교
            <p>LMS</p></a
        >
    </div>
    <div class="header_content">
        <a href="#">내정보</a>
        <a class="last" href="#">내 강의</a>
        <div class="user_info">
            <img src="" alt="" />
            <p>OOO교수님 반갑습니다!</p>
        </div>
    </div>
</div>
<div class="lecture_room">
    <p class="tit">강의실</p>
    <div class="con1">
        <div>
            <p class="point">≫</p>
            강의 정보
        </div>
        <a href="">> 수업계획서</a>
        <a href="">> 수강생 현황</a>
    </div>
    <div class="con2">
        <div>
            <p class="point">≫</p>
            수업활동
        </div>
        <a href="">> 온라인 강의</a>
        <a href="">> 과제</a>
    </div>
    <div class="con3">
        <div>
            <p class="point">≫</p>
            커뮤니티
        </div>
        <a href="">> 공지사항</a>
        <a href="">> Q&A</a>
    </div>
</div>
</body>
</header>
</html>
