<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerInfo">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/layout/style.css" />
    <link rel="stylesheet" href=/static/css/layout/Pheader.css />
    <link rel="stylesheet" href="/static/css/layout/InfoContent.css" />
    <title>Document</title>

<body>
<div class="header_box">
    <div class="header_title_box">
        <img src="/static/images/YALELogo.png" />
        <a href="/pro/pmain" class="s_title"
        >예일대학교
            <p>LMS</p></a
        >
    </div>
    <div class="header_content">
        <a href="/pro/info">내정보</a>
        <a class="last" href="/pro/lectureList">내 강의</a>
        <div class="user_info">
            <img src="" alt="" />
            <p th:text="${professor.pro_name}"></p>
            <p>교수님 반갑습니다!</p>
        </div>
    </div>
</div>
<div class="S_Content">
    <p>내 정보</p>
    <a href="/pro/info">나의 정보</a>
    <a class="L" href="/pro/lectureList">진행중인 강의</a>
</div>
</body>
</header>
</html>
