<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/delec.css">
</head>

<body>
<header>
    <div class="body_con" th:replace="~{layout/SContent :: SContent}"></div>
</header>
<nav></nav>
<main>

    <div class="delec_allform">
        <h2>강의 제목</h2>
        <hr>
        <div class="delec_form">
            <div class="delec_title">
                <div class="delec_week">주차</div>
                <div class="delec_name">강의 주제</div>
                <div class="delec_att">출석여부</div>
                <div class="delec_close">마감일</div>
                <div class="delec_task">과제</div>
            </div>
            <hr>
            <div th:each="lectureDetailArrayList : ${lectureDetailArrayList}">
                <div class="delec_content">
                    <div class="delec_weekC">
                        <p th:text="${lectureDetailArrayList.lec_week}"></p>
                    </div>
                    <div class="delec_nameC">
                        <p th:text="${lectureDetailArrayList.lec_title}"></p>
                    </div>
                    <div class="delec_attC">
                        <p th:text="${lectureDetailArrayList.lec_check}"></p>
                    </div>
                    <div class="delec_closeC">
                        <p th:text="${lectureDetailArrayList.lec_close}"></p>
                    </div>
                    <p class="lecCode" style="display:none;" th:text="${lectureDetailArrayList.lec_code}"></p>
                    <p class="lecWeek" style="display:none;" th:text="${lectureDetailArrayList.lec_week}"></p>
                    <div th:each="assignmentList : ${assignmentList}" class="del-ec_taskC">
                    <div th:if="${assignmentList.delec_code == lectureDetailArrayList.delec_code}">
                        <p th:text="${assignmentList.ass_title}"></p>
                    </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

</main>

<script>
    let govideo = document.querySelector('.delec_content');

    govideo.onclick = () => {
        let lecCode = document.querySelector('.lecCode').textContent;
        let lecWeek = document.querySelector('.lecWeek').textContent;
        let url = "/pro/video/" + lecCode + "/" + lecWeek;

        window.open(url, '_blank', 'width=300,height=300');
    }
</script>

</body>

</html>