<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/delec.css">
</head>

<body>
<header>
    <div class="body_con" th:replace="~{layout/SContent :: SContent}"></div>
</header>
<nav></nav>
<main>
    <div class="line"></div>
    <!-- 강의 헤더 제목 데이터 받는곳 -->
    <p class="l_h_t">강의 제목</p>
    <div class="lecture_list_box">
        <p class="l l2">주차</p>
        <p class="l l4">강의 주제</p>
        <p class="l">출석 여부</p>
        <p class="l">마감일</p>
        <p class="l">과제</p>
    </div>
    <!--    th:onclick="'javascript:location.href=&quot;/pro/video/' + ${Llist.lec_week} + '&quot;'"-->
    <div class="lecture_list_box2" th:each="lectureDetailArrayList : ${lectureDetailArrayList}" >
        <p class="l l2 l3 lecWeek" th:text="${lectureDetailArrayList.lec_week}"></p>
        <p class="l l3 l4 lecTitle" th:text="${lectureDetailArrayList.lec_title}"></p>
        <!--        th:text="${Llist.lec_check}"-->
        <div class="l l3" >미결</div>
        <p class="l l3" th:text="${lectureDetailArrayList.lec_close}"></p>
        <p class="lecCode" style="display:none;" th:text="${lectureDetailArrayList.lec_code}"></p>
        <p class="delecCode" style="display:none;" th:text="${lectureDetailArrayList.delec_code}"></p>
        <div th:each="assignmentList : ${assignmentList}">
            <div th:if="${assignmentList.delec_code == lectureDetailArrayList.delec_code}">
                <p th:text="${assignmentList.ass_title}"></p>
            </div>
        </div>
    </div>
    </div>

</main>

<script>
    let lecTitle = document.querySelector('.lecTitle');

    lecTitle.onclick = () => {
        let lecCode = document.querySelector('.lecCode').textContent;
        let lecWeek = document.querySelector('.lecWeek').textContent;
        let url = "/pro/video/" + lecCode +"/"+  lecWeek;

        window.open(url, '_blank', 'width=1000,height=600');
    }
</script>

</body>

</html>