<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/lecdenot.css">
</head>

<body>
<header>
    <div class="body_con" th:replace="~{layout/SContent :: SContent}"></div>
</header>
<nav></nav>
<main>
    <div class="not_allform">
        <div class="title_form">
            제목 : <input type="text" class="title_input" th:value="${announcement.not_title}" readonly>
        </div>
        <div class="addfile">
            <h3>첨부 파일</h3>
        <a th:href="@{'http://192.168.2.3/images/a/' + ${announcement.not_file}}"
           download th:text="${announcement.not_file}">파일 다운로드</a>
        <div class="content_form">
        </div>
            <textarea class="content_input" th:text="${announcement.not_content}" readonly></textarea>
        </div>
    </div>
    <a th:href="@{/student/login/main/student/info/lecnot/{leccode}(leccode=${lectureHeader.lec_code})}"><button class="notlist_btn">목록으로</button></a>
</main>
</body>
</html>