<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/lecdenot.css">
</head>

<body>
<header><div class="body_con" th:replace="~{layout/SContent :: SContent}"></div></header>
<nav></nav>
<main>
    <div class="not_allform">
        <div class="title_form">
            제목 : <input type="text" class="title_input" placeholder="휴강공지" readonly>
        </div>
        <div class="content_form">
            <textarea class="content_input" readonly>월요일 휴강</textarea>
        </div>
    </div>
    <button class="notlist_btn">목록으로</button>
</main>
</body>
</html>