<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/leclist.css">
</head>

<body>
<header><div class="body_con" th:replace="~{layout/SInfo :: SInfo}"></div></header>
<nav></nav>
<main>
    <div class="leclist_title">
        <input type="text" class="search_form"><button class="search_btn">검색</button>
    </div>
    <hr>
    <div th:each="lectureHeaderArrayList : ${lectureHeaderArrayList}">
        <div class="leclist_form">
        <div class="leclist_imageform">
        </div>
        <div>
            <a th:href="@{leclist/{leccode}(leccode=${lectureHeaderArrayList.lec_code})}"><h3 th:text="${lectureHeaderArrayList.lec_name}"></h3>
            <div class="lec_info">
                <p>신청기간 :</p>
                <P th:text="${lectureHeaderArrayList.apply_start}"></p> ~ <p th:text="${lectureHeaderArrayList.apply_close}"></p>
                <p class="season">운영기간 :</p>
                <P th:text="${lectureHeaderArrayList.let_start}"></p> ~ <p th:text="${lectureHeaderArrayList.let_close}"></p>
            </div>
            </a>
        </div>
        </div>
        <hr>
    </div>

</main>
<script th:if="${param.sucess}" type="text/javascript">
    alert('강의 신청이 완료되었습니다 !!');
</script>
</body>

</html>