<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/leclist.css">
</head>

<body>
<header><div class="body_con" th:replace="~{layout/SInfo :: SInfo}"></div></header>
<nav></nav>
<main>
    <div class="leclist_title">
        <input type="text" class="search_form"><button class="search_btn">검색</button>
    </div>
    <hr>
    <div class="leclist_form">
        <div class="leclist_imageform">
            <img src="/image/lmslogo.png" class="lec_image">
        </div>
        <div>
            <h3>강의 제목</h3>
            <div class="lec_info">
                <p>신청기간 :</p>
                <p>2017.08.28 ~ 2017.09.10</p>
                <p class="season">운영기간 :</p>
                <p>2017.09.15 ~ 2017.12.15</p>
            </div>
        </div>
    </div>
    <hr>
</main>

</body>

</html>