<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/student/lecnot.css">
</head>

<body>
<header><div class="body_con" th:replace="~{layout/SContent :: SContent}"></div></header>
<nav></nav>
<main>

    <h2>강의 제목</h2>
    <hr>
    <div class="lecnot_form">
        <div class="lecnot_title">
            <div class="lecnot_num">번호</div>
            <div class="lecnot_name">제목</div>
            <div class="write_name">작성자</div>
            <div class="lecnot_date">등록일</div>
            <div class="lecnot_cnt">조회</div>
        </div>
        <div  th:each="announcementArrayList : ${announcementArrayList}">
            <a th:href="@{/student/login/main/student/info/lecdenot/{leccode}/{notnum}(leccode=${lectureHeader.lec_code},notnum=${announcementArrayList.not_num})}">
                <div class="lecnot_content">
            <div class="lecnot_numC"><p th:text="${announcementArrayList.not_num}"></p></div>
            <div class="lecnot_nameC"><p th:text="${announcementArrayList.not_title}"></p></div>
            <div class="write_nameC"><p th:text="${announcementArrayList.pro_name}"></p></div>
            <div class="lecnot_dateC"><p th:text="${announcementArrayList.not_date}"></p></div>
            <div class="lecnot_cntC"><p th:text="${announcementArrayList.not_cnt}"></p></div>
                </div>
            </a>
        </div>
        <hr>
    </div>
</main>
</body>
</html>