.allform {
    width: 1400px;
    height: 700px;
    justify-content: center;
    display: flex;
}


.certiform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



header {
    width: 800px;
    height: 80px;
    justify-content: center;

}

h3{
    margin-left: 20px;
}



.realtext{
    width: 800px;
    height: 50px;
    display: flex;
    font-size: 6ch;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.logoform{
    display: flex;
}


main {
    width: 800px;
    height: 350px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 25px;

}

.lmslogo{
    width: 55px;
    height: 75px;
    margin-right: 15px;
}

.certi{
    width: 800px;
    height: 40px;
    /* font-size: larger; */

}

.main_input_form{
    display: flex;
}

.inputform{
    margin-left: 150px;
    margin-top: 60px;
}

.stunumtext{
    width: 350px;
    height: 40px;
}

.stubirthtext{
    width: 350px;
    height: 40px;
    margin-top: 10px;
}

.stucerti_btn{
    margin-top: 60px;
    margin-left: 10px;
    background-color: #c69774;
    width: 150px;
    height: 100px;
}