header{
    width: 1800px;
    height: 300px;

}



section{
    width: 1800px;
    height: 150px;
    /* background-color: pink; */


}


main{
    width: 1800px;
    height: 900px;
    /* background-color: blueviolet; */


}

.search_allform{
  text-align: center;


}

.lec_app_title{
    font-size: xx-large;
    font-weight: bold;
}



.not_form{
    margin-left: 270px;
    margin-top: 15px;
    width: 1200px;

}

.not_title{
    display: flex;
    border: 1px solid black;
    height: 40px;
}

.not_num{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.not_name{
    width: 450px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.write_name{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;


}

.not_date{
    width: 450px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.not_cnt{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}



.not_content{
    display: flex;
    margin-top: 25px

}

.not_numC{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.not_nameC{
    width: 450px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.write_nameC{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;


}

.not_dateC{
    width: 450px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}

.not_cntC{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: x-large;

}








