header{
    width: 1800px;
    height: 150px;

}

body{
    width: 1800px;
}

main{
    width: 1300px;
    height: 590px;
    margin-left: 300px;
    background-color: burlywood;
   border-radius:100px

}


.last_lec_title{
    margin-top: 60px;
    margin-left: 150px;
    font-weight: bold;
}


.last_lec1, .last_lec2, .last_lec3{
    width: 200px;
    height: 200px;


}

.last_lec1, .last_lec2{
    margin-right: 50px;

}

#last_lec_form1, #last_lec_form11{
   margin-top: 100px;
   display:flex;
    justify-content: center;
    align-items: center;
}

#last_lec_form, #last_lec_form2{
   margin-top: 20px;
   display:flex;
    justify-content: center;
    align-items: center;
}

.not_title{
    margin-left: 80px;
    font-weight: bold;
    margin-top: 10px;
}

.not_form{
    margin-top: 30px;
    margin-left: 80px;
    border: 1px solid black;
    width: 400px;

}

.not_text{

    margin-top: 20px;
}


