.container{
    /* background-color: aqua; */
    width: 1200px;
    margin-left: 20%;
    margin-top: 10%;
    position: relative;
    bottom: 600px;
}

.title_text{
    font-size: 25px;
    margin-bottom: 20px;
}

.line{
    width: 1200px;
    height: 3px;
    margin-top: 10px;
    border-bottom: 1px solid #808080;
    /* background-color: aqua; */
    margin-bottom: 30px;
}

.title_box{
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
}

.insert_box{
    width: 1200px;
    border: 1px solid #c6c4c4;
    margin-bottom: 100px;
}

.input_box{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}

.input_box p{
    display: flex;
    margin-right: 10px;
    background-color: #c69774;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    border-radius: 5px;
}

.last{
    margin-bottom: 30px;
}

textarea{
    resize: none;
    width: 500px;
}

.btn_box{
    /* background-color: #c6c4c4; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

button{
    font-size: 20px;
    background-color: #e6721a;
    border: none;
    width: 200px;
    color: white;
    height: 40px;
    border-radius: 5px;
}
